#canvas-section
{
    width: 100%;
    height: 100%;
}
canvas
{
    display: block;
    //width: 1200px;
    //height: 500px;
    margin: 20px auto;
    background-color: blue;
}
#info
{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px; 
}